<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Focus Gureum Tasks</title>
    <style>
        body {
            background-color: #3b3a36; /* dark sepia grey */
            color: #f5f5dc; /* light beige text for contrast */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #f5deb3; /* wheat */
        }
        .schedule {
            margin: 10px 0;
            padding: 10px;
            background-color: #4b4a47;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<h1>My Habit schedule Information</h1>
<div>
    <th:block th:each="schedule : ${habitSchedules}">
        <div class="schedule">
            <span th:text="${schedule.habit.id} + ' - ' + ${schedule.frequencyType}">schedule title</span>
        </div>
    </th:block>
</div>
</body>
</html>
